body {
  margin: 0;
  padding: 0;
}

/* html {
  background-color: #dad4fa;
}

#app {
  font-family: Avenir, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #d4d2d2;
  margin-top: 10%;
}

.form-container {
  width: 30vw;
  margin: 1em auto;
  padding: 2em;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  margin-top: -0.3%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  background: inherit;
  border: 1px solid #4a4179;
}

input {
  width: 70%;
  margin: 0.5em auto;
  padding: 0.6em 1em;
  border-radius: 10px;

  color: #ffffff;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}

.form-button {
  background-color: #4a4179;
  border: none;
  font-weight: 700;

  width: 70%;
  margin: 0.5em auto;
  padding: 0.6em 1em;
  border-radius: 10px;

  color: #ffffff;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}

button:disabled {
  cursor: auto;
  background-color: #4a4179;
  color: #ffffff;
}

button:hover:not([disabled]) {
  background-color: #665f8e;
  color: #ffffff;
}

input:focus,
input:active {
  outline: none;
  background: #dad4fa;
}

button {
  cursor: pointer;
}
